<div class="panel panel-primary">
    <div class="panel-heading">R.O.B.O</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>R.O.B.O - Cotovelo Esquerdo</h4>
                        <button class="btn btn-success" onclick="ContrairCotoveloEsquerdo()">Contrair Cotovelo</button>

                        <button class="btn btn-danger" onclick="DescontrairCotoveloEsquerdo()">Descontrair Cotovelo</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>R.O.B.O - Cotovelo Direito</h4>
                        <button class="btn btn-success" onclick="ContrairCotoveloDireito()">Contrair Cotovelo</button>

                        <button class="btn btn-danger"onclick="DescontrairCotoveloDireito()">Descontrair Cotovelo</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>R.O.B.O - Cabeça</h4>
                        <button class="btn btn-success" onclick="RotacionarCabecaPositivo()">Rotacionar Positivo</button>
                        <button class="btn btn-danger" onclick="RotacionarCabecaNegativo()">Rotacionar Negativo</button>
                        <button class="btn btn-success" onclick="InclinarCabecaParaCima()"> Inclinar Para Cima </button>
                        <button class="btn btn-danger" onclick="InclinarCabecaParaBaixo()">  Inclinar Para Baixo </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>R.O.B.O - Pulso Esquerdo</h4>
                        <button class="btn btn-success" onclick="RotacionarPulsoEsquerdoPositivo()">Rotacionar Positivo</button>

                        <button class="btn btn-danger" onclick="RotacionarPulsoEsquerdoNegativo()">Rotacionar Negativo</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>R.O.B.O - Pulso Direito</h4>
                        <button class="btn btn-success" onclick="RotacionarPulsoDireitoPositivo()">Rotacionar Positivo</button>

                        <button class="btn btn-danger" onclick="RotacionarPulsoDireitoNegativo()">Rotacionar Negativo</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class="alert alert-info">Status: <span id="Status"></span></div>
                        <div class="alert alert-info">Mensagem: <span id="Mensagem"></span></div>
                        <div class="alert alert-info">Estado: <span id="EstadoAtual"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>